body {
  margin: 0;
  font-family: var(--font-family-main);
  font-size: var(--font-size-md);
  color: var(--color-text-main);
  background-color: var(--color-bg);
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
  margin: 0;
}

p {
  margin: 0;
  color: var(--color-text-secondary);
}
