/* Colors */

:root,
html[data-theme='light'] {
  --color-bg: #f9f7f3;
  --color-surface: #ffffff;
  --color-primary: #1f6f4a;
  --color-primary-hover: #195b3d;
  --color-text-main: #1f2933;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;
  --color-border: #e5e7eb;
  --color-shadow: rgba(0, 0, 0, 0.06);
  --color-accent-yellow: #facc15;
  --color-danger: #dc2626;
}

html[data-theme='dark'] {
  --color-bg: #121212;
  --color-surface: #1e1e1e;
  --color-primary: #4ade80;
  --color-primary-hover: #22c55e;
  --color-text-main: rgba(255, 255, 255, 0.92);
  --color-text-secondary: #cbd5e1;
  --color-text-muted: #94a3b8;
  --color-border: #2a2a2a;
  --color-shadow: rgba(0, 0, 0, 0.4);
  --color-accent-yellow: #fde047;
  --color-danger: #f87171;
}

html:not([data-theme]) {
  color-scheme: light dark;
}

:root {
  /* Typography */
  --font-family-main: 'Inter', system-ui, sans-serif;
  --font-family-heading: 'Playfair Display', serif;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 28px;
  --font-size-xxl: 36px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Spacing */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;

  /*  Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  /*  Shadows  */
  --shadow-sm: 0 2px 4px var(--color-shadow);
  --shadow-md: 0 6px 12px var(--color-shadow);
}
