.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.appContent {
  flex: 1;
  display: block;
  width: 100%;
  padding: var(--space-lg) 0;
}
